name: Ubuntu Desktop + Tailscale GUI

on:
  workflow_dispatch:

jobs:
  gui:
    runs-on: ubuntu-latest

    steps:
      - name: Install XFCE Desktop
        run: |
          sudo apt update
          sudo apt install -y xfce4 xfce4-goodies
          sudo apt install -y tigervnc-standalone-server
          sudo apt install -y novnc websockify
          mkdir -p ~/.vnc
          echo "${{ secrets.VNC_PASS }}" | vncpasswd -f > ~/.vnc/passwd
          chmod 600 ~/.vnc/passwd

      - name: Create VNC Startup Script
        run: |
          echo "#!/bin/sh
          xrdb $HOME/.Xresources
          startxfce4 &" > ~/.vnc/xstartup
          chmod +x ~/.vnc/xstartup

      - name: Start VNC + noVNC
        run: |
          vncserver :1
          websockify --web=/usr/share/novnc/ 6080 localhost:5901 &

      - name: Install Tailscale
        run: |
          curl -fsSL https://tailscale.com/install.sh | sh
          sudo tailscale up --authkey="${{ secrets.TS_AUTH_KEY }}" --hostname="Linux-GUI" --accept-routes --accept-dns=false

      - name: Show Tailscale IP
        run: |
          echo "Tailscale IP:"
          tailscale ip -4
