name: Windows RDP with Tailscale

on:
  workflow_dispatch:

jobs:
  connect:
    runs-on: windows-latest
    steps:

      - name: Create RDP User
        run: |
          net user ${{ secrets.RDP_USER }} ${{ secrets.RDP_PASS }} /add
          net localgroup administrators ${{ secrets.RDP_USER }} /add
          net localgroup "Remote Desktop Users" ${{ secrets.RDP_USER }} /add

      - name: Enable RDP
        run: |
          Set-ItemProperty -Path "HKLM:\System\CurrentControlSet\Control\Terminal Server" -Name "fDenyTSConnections" -Value 0
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
          Set-ItemProperty -Path "HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp" -Name "PortNumber" -Value 3389

      - name: Install Tailscale
        run: |
          curl -fsSL https://pkgs.tailscale.com/stable/tailscale-ipn.exe -o tailscale.exe

      - name: Start Tailscale
        run: |
          .\tailscale.exe up `
            --authkey "${{ secrets.TS_AUTH_KEY }}" `
            --hostname "github-rdp-runner" `
            --accept-routes `
            --accept-dns=false `
            --shields-up=false

      - name: Get Tailscale IP
        id: tsip
        run: |
          $ip = .\tailscale.exe ip | Select-Object -Last 1
          echo "TS_IP=$ip" >> $env:GITHUB_ENV
          echo "TAILSCALE IP = $ip"

      - name: Show Connection Info
        run: |
          Write-Host "========================"
          Write-Host "✔ جهازك جاهز للاتصال"
          Write-Host "✔ استخدم برنامج RDP"
          Write-Host "------------------------"
          Write-Host "IP: $env:TS_IP"
          Write-Host "User: ${{ secrets.RDP_USER }}"
          Write-Host "Password: ${{ secrets.RDP_PASS }}"
          Write-Host "========================"
